/* font-size */
$size-12px : 0.75rem;
$size-13px : 0.8125rem;
$size-14px : 0.875rem;
$size-16px : 1rem;
$size-18px : 1.125rem;
$size-20px : 1.25rem;
$size-22px : 1.375rem;
$size-24px : 1.5rem;
$size-26px : 1.625rem;
$size-28px : 1.75rem;
$size-30px : 1.875rem;
$size-32px : 2rem;
$size-34px : 2.125rem;
$size-36px : 2.25rem;
$size-38px : 2.375rem;
$size-40px : 2.5rem;
$size-42px : 2.625rem;
$size-44px : 2.75rem;
$size-46px : 2.875rem;
$size-48px : 3rem;
$size-60px : 3.75rem;
$size-72px : 4.5rem;
$size-140px : 8.75rem;

/* font-weight */
$weight-light : 300;
$weight-medium : 500;
$weight-semibold : 600;
$weight-bold : 700;

/* line-height */
$line-height-150 : 1.5;

/* color */
$white : #ffffff;
$blue : #2C8CE8;
$skyblue : #D5E8FA;
$black : #222222;
$grayD9 : #D9D9D9;
$gray7E : #7e7e7e;
$gray99 : #999;
$grayAA : #AAA;

/* include */

@mixin flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

@mixin flex-col-nowrap {
    display: flex;
    flex-flow: column nowrap;
}