@use './common.scss' as *;
#wrap{
    /* bnr 시작 */
    .main-bnr {
        width: 100%;
        height: 670px;
        position: relative;
        .bnr-prev {
            position: absolute;
            top : 590px;
            left : 1511px;
            width : 36px;
            height: 36px;
            > svg {fill: rgba(0, 0, 0, 0.4);}
        }
        .bnr-next {
            position: absolute;
            top : 590px;
            right: 240px;
            bottom: 50px;
            fill: rgba(0, 0, 0, 0.4);
            width : 36px;
            height: 36px;
            > svg {fill: rgba(0, 0, 0, 0.4);}
        }
        .bnr-nav {
            width: 74px;
            height: 36px;
            color: $white;
            font-size: $size-13px;
            padding: 10px 20px;
            border: 1px solid $white;
            width: fit-content;
            border-radius: 20px;
            @include flex-row-nowrap;
            gap: 6px;
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            left : 1551px;
            bottom : 66px;
            
            .swiper-pagination-current{
                width: 8px;
                color:$white;
                font-size: $size-13px;
            }
            .swiper-pagination-total{
                color:$white;
                font-size: $size-13px;
            }
        }
        .bnr-wrapper{
            > .swiper-slide{
                &::after{
                        position: absolute;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(90deg, $black 0%, transparent 50%);
                        left: 0;
                        top: 0;
                        z-index: 1;
                    }   
                width: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                
                > a {
                    
                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit:cover;
                    }
                    .bnr-title{
                        padding: calc((670px - 123px)/2) 240px;
                        z-index: 999;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 100%;
                        > h1 {
                            font-size: $size-40px;
                            font-weight: $weight-semibold;
                            margin-bottom: 10px;
                            color: $white;
                        }
                        > p {
                            color: $white; margin-bottom: 20px;
                        }
                        .detail {
                            padding: 10px 20px;
                            background-color: $blue;
                            border-radius: 20px;
                            width: fit-content;
                            > span {
                                color: $white;
                                margin-right: 10px;
                            }
                            > img {
                                width: 14px;
                                height: 14px;
                                transform: translateY(1px);
                            }
                        }
                    }
                }
            }
        }
    }
    /* bnr 시작 */

    /* main-contents 시작 */
    .main-contents {
        /* 특가 시작 */
        .special-price{
            margin: 100px 240px 150px;
            .special-title {
                margin-bottom: 50px;
                .title {
                    font-size : $size-40px;
                    font-weight: $weight-semibold;
                    margin-bottom: 10px;
                }
                > p {
                    .text{
                        line-height: $line-height-150;
                    }
                }
            }
            .special-swiper{
                width: 100%;
                .special-nav {

                }
                .special-btn {
                    .special-prev{}
                    .special-next{}
                }
                .special-wrapper{
                    .group1 {
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                        align-items: center;
                        > li{
                            > a {
                                > img {
                                width: 340px;
                                height: 400px;
                                border-radius: 100px;
                                margin-bottom: 30px;
                                }
                                .brand{
                                    font-size : $size-14px;
                                    line-height: $line-height-150;
                                    margin-bottom: 10px;
                                }
                                .name {
                                    font-size : $size-14px;
                                    line-height: $line-height-150;
                                    font-weight: $weight-medium;
                                    margin-bottom: 10px;
                                }
                                .price {
                                    > em {
                                        font-size : $size-22px;
                                        line-height: $line-height-150;
                                        font-weight: $weight-semibold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* 특가 끝 */
        
        /* 테마 시작 */
        .theme-trip {
            margin: 0 240px 150px;
            .title{
                margin-bottom: 50px;
                >h1{
                    font-size : $size-40px;
                    font-weight: $weight-semibold;
                    margin-bottom: 10px;
                }
                .theme-row {
                    @include flex-row-nowrap;
                    justify-content : space-between;
                    align-items: center;
                    
                    .text{line-height: $line-height-150;}

                    .lnb-list {
                        @include flex-row-nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 30px;
                        > li {
                            > a {
                                font-size: $size-18px;
                                font-weight: $weight-light;
                                color: $grayAA;
                            }
                        }
                    }
                    .more{
                        @include flex-row-nowrap;
                        justify-content: flex-end;
                        align-items: center;
                        > a {
                            font-size: $size-13px;
                            img {
                                width: 14px;
                                height: 14px;
                                rotate: 270deg;
                                transform: translateX(-2.5px);
                            }
                        }
                    }
                }
            }
            .theme-swiper{
                width: 100%;
                .theme-nav {

                }
                .theme-btn {
                    .special-prev{}
                    .special-next{}
                }
                .theme-wrapper{
                    .group1 {
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                        align-items: center;
                        > li{
                            > a {
                                > img {
                                width: 340px;
                                height: 400px;
                                border-radius: 100px;
                                margin-bottom: 30px;
                                }
                                .brand{
                                    font-size : $size-14px;
                                    line-height: $line-height-150;
                                    margin-bottom: 10px;
                                }
                                .name {
                                    font-size : $size-14px;
                                    line-height: $line-height-150;
                                    font-weight: $weight-medium;
                                    margin-bottom: 10px;
                                }
                                .price {
                                    > em {
                                        font-size : $size-22px;
                                        line-height: $line-height-150;
                                        font-weight: $weight-semibold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* 테마 끝 */

        /* bizpack 시작 */
        .bizpack {
            margin: 0 240px 150px;
            @include flex-row-nowrap;
            justify-content: space-between;
            align-items: center;
            .title{
                width: fit-content;
                @include flex-col-nowrap;
                justify-content: flex-end;
                align-items: flex-end;
                .title-group {
                    margin-bottom: 50px;
                    > h1 {
                        width: 100%;
                        text-align: right;
                        font-size : $size-40px;
                        font-weight: $weight-semibold;
                        margin-bottom: 10px;
                        white-space: nowrap;
                    }
                    > p {
                        text-align: right;
                        line-height: $line-height-150;
                        white-space: nowrap;
                    }
                }
                > a {
                    .more {
                        font-size: $size-13px;
                    }
                    img {
                        width: 14px;
                        height: 14px;
                        rotate: 270deg;
                        transform: translateX(-2.5px);
                    }
                }
            }
            .bizpack-list {
                .bizpack-swiper{
                    width: 100%;
                    .bizpack-wrapper{
                        >.swiper-slide{
                            width: 100%;
                            @include flex-row-nowrap;
                            justify-content: space-between;
                            align-items: center;
                            gap: 40px;
                            >li {
                                > a {
                                    > img {
                                        width: 340px;
                                        height: 340px;
                                        margin-bottom: 30px;
                                        border-radius: 20px;
                                        object-fit: cover;
                                    }
                                    .brand{
                                    font-size : $size-14px;
                                    line-height: $line-height-150;
                                    margin-bottom: 10px;
                                    }
                                    .name {
                                        font-size : $size-14px;
                                        line-height: $line-height-150;
                                        font-weight: $weight-medium;
                                        margin-bottom: 10px;
                                    }
                                    .price {
                                        > em {
                                            font-size : $size-22px;
                                            line-height: $line-height-150;
                                            font-weight: $weight-semibold;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* bizpack 끝 */

    }
    /* kalpak 시작 */
    .kalpak{
        background-image: url(../images/hanjin_product_Image/kalpak/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 750px;
        position: relative;
        padding: 0 240px;
        margin-bottom: 150px;
        .kalpak-content {
            position: absolute;
            top: 50%;
            left: 240px;
            transform: translateY(-50%);
            > h1 {
                img {width : 132px; height: 24px;}
                margin-bottom: 10px;
            }
            > p {
                line-height: $line-height-150;
                color: $white;
                margin-bottom: 30px;
            }
            .direct-btn{
                width: fit-content;
                padding: 10px 30px;
                border-radius: 30px;
                background-color: $blue;
                >.direct-page {color: $white; font-size: $size-14px;}
                >img {
                    transform: translateY(2px);
                }
            }
        }
    }
    /* kalpak 끝 */
    /* main-contents 끝 */
}