@use './common.scss' as *;
#wrap{
    .main-bnr {
        position: relative;
        .bnr-prev {
            width : 36px;
            height: 36px;
            > svg {fill: rgba(0, 0, 0, 0.4);}
        }
        .bnr-next {
            fill: rgba(0, 0, 0, 0.4);
            width : 36px;
            height: 36px;
            > svg {fill: rgba(0, 0, 0, 0.4);}
        }
        .bnr-nav {
            color: $white;
            font-size: $size-14px;
            padding: 10px 20px;
            border: 1px solid $white;
            width: fit-content;
            border-radius: 20px;
            @include flex-row-nowrap;
            gap: 6px;
            background-color: rgba(0, 0, 0, 0.4);
            
            .swiper-pagination-current{
                color:$white;
                font-size: $size-14px;
            }
            .swiper-pagination-total{
                color:$white;
                font-size: $size-14px;
            }
        }
        .bnr-wrapper{
            > .swiper-slide{
                &::after{
                        position: absolute;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(90deg, $black 0%, transparent 50%);
                        left: 0;
                        top: 0;
                        z-index: 1;
                    }   
                padding: 0 240px;
                height: 670px;
                width: 100%;
                background-image: url(../images/background/bnr1.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                
                > a {
                    .bnr-title{
                        z-index: 999;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        > h1 {
                            font-size: $size-40px;
                            font-weight: $weight-semibold;
                            margin-bottom: 10px;
                            color: $white;
                        }
                        > p {
                            color: $white; margin-bottom: 20px;
                        }
                        .detail {
                            padding: 10px 20px;
                            background-color: $blue;
                            border-radius: 20px;
                            width: fit-content;
                            > span {
                                color: $white;
                                margin-right: 10px;
                            }
                            > img {
                                width: 14px;
                                height: 14px;
                                transform: translateY(1px);
                            }
                        }
                    }
                }
            }
        }
    }
}