@use './common.scss' as *;

body{
    .linebnr {
        position: relative;
        width: 100%;
        height: 70px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: $skyblue;
        .linebnr-img {
            width: 100%;
            height: 100%;
            text-align: center;
            > a {
                > img {
                    height: 100%;
                }
            }
        }
        .close {
            position: absolute;
            right : 240px;
            top: 50%;
            transform: translateY(-50%);
            > svg {
                width: 14px;
                height: 14px;
            }
        }
    }
    #header{
        width: 100%;
        height: 160px;
        padding: 0 240px;
        background-color: #fff;
        border-bottom: 1px solid $grayD9    ;
        .header-topcon {
            @include flex-row-nowrap;
            justify-content: space-between;
            align-content: center;
            padding: 30px 0px;
            > h1 {
                > a {
                    > img {
                        width: 135px;
                        height: 33px;
                    }
                }
            }
            .header-icon {
                @include flex-row-nowrap;
                justify-content: flex-end;
                align-content: center;
                gap : 10px;
                .search {
                    width: 300px;
                    height: 30px;
                    border-bottom: 1px solid #222;
                    @include flex-row-nowrap;
                    justify-content: space-between;
                    align-content: center;
                    #search-box{
                        font-size: $size-14px;
                        width: 100%;
                    }
                    > a {
                        > svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                .mypage{
                    > svg {
                        width: 30px;
                        height: 30px;
                    }
                }
                .coupone{
                    > svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        .top-main-contents {
            padding: 24px 0;
            @include flex-row-nowrap;
            justify-content: space-between;
            align-items: center;
            .gnb {
                @include flex-row-nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 34px;
                > li {
                    > a {
                        font-weight: $weight-medium;
                        font-size: $size-18px;
                        color : $black;
                    }
                }
            }
            .notice {
                @include flex-row-nowrap;
                justify-content: flex-end;
                align-items: center;
                gap : 10px;
                .notice-title {
                    font-size : $size-14px; color: $black;
                    width: fit-content;
                }
                .hr {
                    width: 1px;
                    height: 14px;
                    display: block;
                    background-color: $black;
                }
                .notice-swiper {
                    .notice-wrapper {
                        .swiper-slide {
                        font-size : $size-14px; color: $black;
                        }
                    }
                }
            }
        }
    }
    .footer-line {
        width: 100%;
        background-color: $blue;
        @include flex-row-nowrap;
        justify-content: center;
        align-items: center;
        gap : 10px;
        padding: 16px 0;
        .footer-notice {
            font-size: $size-14px;
            color: $white;
        }
        .hr {
            width: 1px;
            height: 14px;
            background-color: $white;
        }
        .footer-swiper{
            width: fit-content;
            margin: 0;
            .footer-wrapper{
                > .swiper-slide {
                    font-size: $size-14px;
                    color: $white;
                    width: fit-content;
                }
            }
        }
    }
    #footer {
        width: 100%;
        @include flex-row-nowrap;
        justify-content : space-between;
        align-items: flex-start;
        background-color: $white;
        padding: 50px 240px;
        .footer-left {
            @include flex-col-nowrap;
            justify-content: center;
            align-items: flex-start;
            gap: 40px;
            .footer-lnb {
                @include flex-row-nowrap;
                justify-content: flex-start;
                align-items: center;
                > li {
                    > a {
                        font-size: $size-14px;
                        color: $black;
                    }
                }
                .hr {
                    width: 1px;
                    height: 14px;
                    background-color: $black;
                    display: block;
                    margin: 0 10px;
                }
            }
            .footer-as {
                @include flex-col-nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap : 40px;
                .footer-as-info {
                    @include flex-col-nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap : 10px;
                    .reservation-as {
                        font-size: $size-20px;
                        > em {
                            font-weight: $weight-semibold;
                        }
                    }
                    .kalpak-as {
                        font-size: $size-20px;
                        > em {
                            font-weight: $weight-semibold;
                        }
                    }
                    .other-as {}
                }
                .as-time {
                    @include flex-col-nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 6px;
                    p {
                        font-size: $size-14px;
                        color: $gray99;
                    }
                }
            }
        }

        .footer-right {
                @include flex-col-nowrap;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 20px;
            .footer-sns {
                @include flex-row-nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                > li {
                    > a {
                        > img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
            .select-group {
                @include flex-row-nowrap;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;
                #family-site {
                    width: fit-content;
                    @include flex-row-nowrap;
                    position: relative;
                    border: 1px solid $black;
                    padding: 10px 30px;
                    > h1 {
                        font-size: 14px;
                        color: $black;
                    }
                    > img {
                        margin-left: 10px;
                        width: 14px;
                        height: 14px;
                        transform: translateY(1px);
                    }
                    > li {
                        width: 100%;
                        left: 0;
                        bottom: 35px;
                        position: absolute;
                        .site-list {
                            padding: 20px;
                            background-color: white;
                            border : solid 1px $grayD9;
                            display: none;
                            flex-flow: column nowrap;
                            gap: 10px;
                            justify-content: flex-start;
                            > li {
                                > a {
                                    font-size: $size-12px;
                                }
                            }
                        }
                    }
                }
                #language {
                    width: fit-content;
                    @include flex-row-nowrap;
                    position: relative;
                    border: 1px solid $black;
                    padding: 10px 30px;
                    > h1 {
                        font-size: 14px;
                        color: $black;
                    }
                    > img {
                        margin-left: 10px;
                        width: 14px;
                        height: 14px;
                        transform: translateY(1px);
                    }
                    > li {
                        width: 100%;
                        left: 0;
                        bottom: 35px;
                        position: absolute;
                        .lan-list {
                            padding: 20px;
                            background-color: white;
                            border : solid 1px $grayD9;
                            display: none;
                            flex-flow: column nowrap;
                            gap: 10px;
                            justify-content: flex-start;
                            > li {
                                > a {
                                    font-size: $size-12px;
                                }
                            }
                        }
                    }
                }
                
            }
            .company-info {
                @include flex-col-nowrap;
                justify-content: flex-start;
                align-items: flex-end;
                gap : 4px;
                > p {
                    font-size: $size-12px;
                }
            }
            .copyright {
                font-size: $size-13px;
            }
        }
    }
}