@charset "UTF-8";
/* font-size */
/* font-weight */
/* line-height */
/* color */
/* include */
#wrap {
  /* bnr 시작 */
}
#wrap .main-bnr {
  width: 100%;
  height: 670px;
  position: relative;
}
#wrap .main-bnr .bnr-prev {
  position: absolute;
  top: 590px;
  left: 1511px;
  width: 36px;
  height: 36px;
}
#wrap .main-bnr .bnr-prev > svg {
  fill: rgba(0, 0, 0, 0.4);
}
#wrap .main-bnr .bnr-next {
  position: absolute;
  top: 590px;
  right: 240px;
  bottom: 50px;
  fill: rgba(0, 0, 0, 0.4);
  width: 36px;
  height: 36px;
}
#wrap .main-bnr .bnr-next > svg {
  fill: rgba(0, 0, 0, 0.4);
}
#wrap .main-bnr .bnr-nav {
  width: 74px;
  height: 36px;
  color: #ffffff;
  font-size: 0.8125rem;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  width: fit-content;
  border-radius: 20px;
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 1551px;
  bottom: 66px;
}
#wrap .main-bnr .bnr-nav .swiper-pagination-current {
  width: 8px;
  color: #ffffff;
  font-size: 0.8125rem;
}
#wrap .main-bnr .bnr-nav .swiper-pagination-total {
  color: #ffffff;
  font-size: 0.8125rem;
}
#wrap .main-bnr .bnr-wrapper > .swiper-slide::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #222222 0%, transparent 50%);
  left: 0;
  top: 0;
  z-index: 1;
}
#wrap .main-bnr .bnr-wrapper > .swiper-slide {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrap .main-bnr .bnr-wrapper > .swiper-slide > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wrap .main-bnr .bnr-wrapper > .swiper-slide > a .bnr-title {
  padding: 273.5px 240px;
  z-index: 999;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
#wrap .main-bnr .bnr-wrapper > .swiper-slide > a .bnr-title > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff;
}
#wrap .main-bnr .bnr-wrapper > .swiper-slide > a .bnr-title > p {
  color: #ffffff;
  margin-bottom: 20px;
}
#wrap .main-bnr .bnr-wrapper > .swiper-slide > a .bnr-title .detail {
  padding: 10px 20px;
  background-color: #2C8CE8;
  border-radius: 20px;
  width: fit-content;
}
#wrap .main-bnr .bnr-wrapper > .swiper-slide > a .bnr-title .detail > span {
  color: #ffffff;
  margin-right: 10px;
}
#wrap .main-bnr .bnr-wrapper > .swiper-slide > a .bnr-title .detail > img {
  width: 14px;
  height: 14px;
  transform: translateY(1px);
}
#wrap {
  /* bnr 시작 */
  /* main-contents 시작 */
}
#wrap .main-contents {
  /* 특가 시작 */
}
#wrap .main-contents .special-price {
  margin: 100px 240px 150px;
}
#wrap .main-contents .special-price .special-title {
  margin-bottom: 50px;
}
#wrap .main-contents .special-price .special-title .title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
#wrap .main-contents .special-price .special-title > p .text {
  line-height: 1.5;
}
#wrap .main-contents .special-price .special-swiper {
  width: 100%;
}
#wrap .main-contents .special-price .special-swiper .special-wrapper .group1 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
#wrap .main-contents .special-price .special-swiper .special-wrapper .group1 > li > a > img {
  width: 340px;
  height: 400px;
  border-radius: 100px;
  margin-bottom: 30px;
}
#wrap .main-contents .special-price .special-swiper .special-wrapper .group1 > li > a .brand {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
#wrap .main-contents .special-price .special-swiper .special-wrapper .group1 > li > a .name {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 10px;
}
#wrap .main-contents .special-price .special-swiper .special-wrapper .group1 > li > a .price > em {
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 600;
}
#wrap .main-contents {
  /* 특가 끝 */
  /* 테마 시작 */
}
#wrap .main-contents .theme-trip {
  margin: 0 240px 150px;
}
#wrap .main-contents .theme-trip .title {
  margin-bottom: 50px;
}
#wrap .main-contents .theme-trip .title > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}
#wrap .main-contents .theme-trip .title .theme-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#wrap .main-contents .theme-trip .title .theme-row .text {
  line-height: 1.5;
}
#wrap .main-contents .theme-trip .title .theme-row .lnb-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
#wrap .main-contents .theme-trip .title .theme-row .lnb-list > li > a {
  font-size: 1.125rem;
  font-weight: 300;
  color: #AAA;
}
#wrap .main-contents .theme-trip .title .theme-row .more {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
#wrap .main-contents .theme-trip .title .theme-row .more > a {
  font-size: 0.8125rem;
}
#wrap .main-contents .theme-trip .title .theme-row .more > a img {
  width: 14px;
  height: 14px;
  rotate: 270deg;
  transform: translateX(-2.5px);
}
#wrap .main-contents .theme-trip .theme-swiper {
  width: 100%;
}
#wrap .main-contents .theme-trip .theme-swiper .theme-wrapper .group1 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
#wrap .main-contents .theme-trip .theme-swiper .theme-wrapper .group1 > li > a > img {
  width: 340px;
  height: 400px;
  border-radius: 100px;
  margin-bottom: 30px;
}
#wrap .main-contents .theme-trip .theme-swiper .theme-wrapper .group1 > li > a .brand {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
#wrap .main-contents .theme-trip .theme-swiper .theme-wrapper .group1 > li > a .name {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 10px;
}
#wrap .main-contents .theme-trip .theme-swiper .theme-wrapper .group1 > li > a .price > em {
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 600;
}
#wrap .main-contents {
  /* 테마 끝 */
  /* bizpack 시작 */
}
#wrap .main-contents .bizpack {
  margin: 0 240px 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#wrap .main-contents .bizpack .title {
  width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}
#wrap .main-contents .bizpack .title .title-group {
  margin-bottom: 50px;
}
#wrap .main-contents .bizpack .title .title-group > h1 {
  width: 100%;
  text-align: right;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  white-space: nowrap;
}
#wrap .main-contents .bizpack .title .title-group > p {
  text-align: right;
  line-height: 1.5;
  white-space: nowrap;
}
#wrap .main-contents .bizpack .title > a .more {
  font-size: 0.8125rem;
}
#wrap .main-contents .bizpack .title > a img {
  width: 14px;
  height: 14px;
  rotate: 270deg;
  transform: translateX(-2.5px);
}
#wrap .main-contents .bizpack .bizpack-list .bizpack-swiper {
  width: 100%;
}
#wrap .main-contents .bizpack .bizpack-list .bizpack-swiper .bizpack-wrapper > .swiper-slide {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
#wrap .main-contents .bizpack .bizpack-list .bizpack-swiper .bizpack-wrapper > .swiper-slide > li > a > img {
  width: 340px;
  height: 340px;
  margin-bottom: 30px;
  border-radius: 20px;
  object-fit: cover;
}
#wrap .main-contents .bizpack .bizpack-list .bizpack-swiper .bizpack-wrapper > .swiper-slide > li > a .brand {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
#wrap .main-contents .bizpack .bizpack-list .bizpack-swiper .bizpack-wrapper > .swiper-slide > li > a .name {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 10px;
}
#wrap .main-contents .bizpack .bizpack-list .bizpack-swiper .bizpack-wrapper > .swiper-slide > li > a .price > em {
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 600;
}
#wrap .main-contents {
  /* bizpack 끝 */
}
#wrap {
  /* kalpak 시작 */
}
#wrap .kalpak {
  background-image: url(../images/hanjin_product_Image/kalpak/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 750px;
  position: relative;
  padding: 0 240px;
  margin-bottom: 150px;
}
#wrap .kalpak .kalpak-content {
  position: absolute;
  top: 50%;
  left: 240px;
  transform: translateY(-50%);
}
#wrap .kalpak .kalpak-content > h1 img {
  width: 132px;
  height: 24px;
}
#wrap .kalpak .kalpak-content > h1 {
  margin-bottom: 10px;
}
#wrap .kalpak .kalpak-content > p {
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 30px;
}
#wrap .kalpak .kalpak-content .direct-btn {
  width: fit-content;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #2C8CE8;
}
#wrap .kalpak .kalpak-content .direct-btn > .direct-page {
  color: #ffffff;
  font-size: 0.875rem;
}
#wrap .kalpak .kalpak-content .direct-btn > img {
  transform: translateY(2px);
}
#wrap {
  /* kalpak 끝 */
  /* main-contents 끝 */
}

body .linebnr {
  position: relative;
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #D5E8FA;
}
body .linebnr .linebnr-img {
  width: 100%;
  height: 100%;
  text-align: center;
}
body .linebnr .linebnr-img > a > img {
  height: 100%;
}
body .linebnr .close {
  position: absolute;
  right: 240px;
  top: 50%;
  transform: translateY(-50%);
}
body .linebnr .close > svg {
  width: 14px;
  height: 14px;
}
body #header {
  width: 100%;
  height: 160px;
  padding: 0 240px;
  background-color: #fff;
  border-bottom: 1px solid #D9D9D9;
}
body #header .header-topcon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  padding: 30px 0px;
}
body #header .header-topcon > h1 > a > img {
  width: 135px;
  height: 33px;
}
body #header .header-topcon .header-icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: center;
  gap: 10px;
}
body #header .header-topcon .header-icon .search {
  width: 300px;
  height: 30px;
  border-bottom: 1px solid #222;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}
body #header .header-topcon .header-icon .search #search-box {
  font-size: 0.875rem;
  width: 100%;
}
body #header .header-topcon .header-icon .search > a > svg {
  width: 30px;
  height: 30px;
}
body #header .header-topcon .header-icon .mypage > svg {
  width: 30px;
  height: 30px;
}
body #header .header-topcon .header-icon .coupone > svg {
  width: 30px;
  height: 30px;
}
body #header .top-main-contents {
  padding: 24px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body #header .top-main-contents .gnb {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 34px;
}
body #header .top-main-contents .gnb > li > a {
  font-weight: 500;
  font-size: 1.125rem;
  color: #222222;
}
body #header .top-main-contents .notice {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
body #header .top-main-contents .notice .notice-title {
  font-size: 0.875rem;
  color: #222222;
  width: fit-content;
}
body #header .top-main-contents .notice .hr {
  width: 1px;
  height: 14px;
  display: block;
  background-color: #222222;
}
body #header .top-main-contents .notice .notice-swiper .notice-wrapper .swiper-slide {
  font-size: 0.875rem;
  color: #222222;
}
body .footer-line {
  width: 100%;
  background-color: #2C8CE8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 0;
}
body .footer-line .footer-notice {
  font-size: 0.875rem;
  color: #ffffff;
}
body .footer-line .hr {
  width: 1px;
  height: 14px;
  background-color: #ffffff;
}
body .footer-line .footer-swiper {
  width: fit-content;
  margin: 0;
}
body .footer-line .footer-swiper .footer-wrapper > .swiper-slide {
  font-size: 0.875rem;
  color: #ffffff;
  width: fit-content;
}
body #footer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 50px 240px;
}
body #footer .footer-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
body #footer .footer-left .footer-lnb {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
body #footer .footer-left .footer-lnb > li > a {
  font-size: 0.875rem;
  color: #222222;
}
body #footer .footer-left .footer-lnb .hr {
  width: 1px;
  height: 14px;
  background-color: #222222;
  display: block;
  margin: 0 10px;
}
body #footer .footer-left .footer-as {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
body #footer .footer-left .footer-as .footer-as-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
body #footer .footer-left .footer-as .footer-as-info .reservation-as {
  font-size: 1.25rem;
}
body #footer .footer-left .footer-as .footer-as-info .reservation-as > em {
  font-weight: 600;
}
body #footer .footer-left .footer-as .footer-as-info .kalpak-as {
  font-size: 1.25rem;
}
body #footer .footer-left .footer-as .footer-as-info .kalpak-as > em {
  font-weight: 600;
}
body #footer .footer-left .footer-as .as-time {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}
body #footer .footer-left .footer-as .as-time p {
  font-size: 0.875rem;
  color: #999;
}
body #footer .footer-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
}
body #footer .footer-right .footer-sns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
body #footer .footer-right .footer-sns > li > a > img {
  width: 24px;
  height: 24px;
}
body #footer .footer-right .select-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
body #footer .footer-right .select-group #family-site {
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  border: 1px solid #222222;
  padding: 10px 30px;
}
body #footer .footer-right .select-group #family-site > h1 {
  font-size: 14px;
  color: #222222;
}
body #footer .footer-right .select-group #family-site > img {
  margin-left: 10px;
  width: 14px;
  height: 14px;
  transform: translateY(1px);
}
body #footer .footer-right .select-group #family-site > li {
  width: 100%;
  left: 0;
  bottom: 35px;
  position: absolute;
}
body #footer .footer-right .select-group #family-site > li .site-list {
  padding: 20px;
  background-color: white;
  border: solid 1px #D9D9D9;
  display: none;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
}
body #footer .footer-right .select-group #family-site > li .site-list > li > a {
  font-size: 0.75rem;
}
body #footer .footer-right .select-group #language {
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  border: 1px solid #222222;
  padding: 10px 30px;
}
body #footer .footer-right .select-group #language > h1 {
  font-size: 14px;
  color: #222222;
}
body #footer .footer-right .select-group #language > img {
  margin-left: 10px;
  width: 14px;
  height: 14px;
  transform: translateY(1px);
}
body #footer .footer-right .select-group #language > li {
  width: 100%;
  left: 0;
  bottom: 35px;
  position: absolute;
}
body #footer .footer-right .select-group #language > li .lan-list {
  padding: 20px;
  background-color: white;
  border: solid 1px #D9D9D9;
  display: none;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
}
body #footer .footer-right .select-group #language > li .lan-list > li > a {
  font-size: 0.75rem;
}
body #footer .footer-right .company-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 4px;
}
body #footer .footer-right .company-info > p {
  font-size: 0.75rem;
}
body #footer .footer-right .copyright {
  font-size: 0.8125rem;
}

/*# sourceMappingURL=main.css.map */
